// Place all the styles related to the plot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #3bbfce;
$margin: 16px;
$width: 300px;
$height: 250px;
$main_width: 1000px;
$main_height:  1000px;

.container-fluid > .sidebar {
    position: absolute;
    right: 20px;
    top: 0;
    width: 220px;
}

.container-fluid > .content {
    margin-right: 240px;
}

.point_sliders {
  padding: $margin/2;
  margin:  $margin/2;
}

#slider_x, #slider_y, #slider_z {
  margin: $margin*2;
}

.angle_sliders{
  padding: $margin/2;
  margin:  $margin/2;
}

.color_sliders{
}

.in_color{
  padding: 10px;
}


p.label{
  position: relative;
}

.showgrid { background:url('/assets/grid.png'); }


#angle_x, #angle_y, #angle_z {
  margin: $margin*2;
}

#u, #v, #step_u, #step_v, #a, .filling, #r, #g, #b{
  margin: $margin*2;
}

.light_coords #x, #y, #z{
  margin: $margin*2;
}

.light_properties #ambient, #diffuse, #reflection, #n{
  margin: $margin*2;
}

.span2.right{
  top: -600px;
  position: relative;
}