<!DOCTYPE html>
<html>
<head>
  <title>ИГС 2</title>
  <%= stylesheet_link_tag    "application", :media => :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container", style="border:3px solid blue" >
<div class="showgrid">
  <%= yield %>
</div>
</div>
</body>
</html>

